MONGO_NAME = *
MONGO_PASSWORD = *
TOKEN = *
MONGO_URL = *

MONGO_NAME = zoomplus
MONGO_PASSWORD = 2ut4GxdxHP9TmgMf
TOKEN = 5029193016:AAG4WbUThm5_AUbHV2nMKPAHiCGaaWiLtUY
MONGO_URL = mongodb+srv://zoomplus:2ut4GxdxHP9TmgMf@telegrambots.jue4q.mongodb.net/telegrambots?retryWrites=true&w=majority